/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
}

html {
    scroll-behavior: smooth;
}

/* FUNDO */
.fundo {
    background-color: #DCFEF1;
    min-height: 100vh;
    color: #20406E;
    text-align: center;
}

/* COMO USAR */
#comousar {
    background-color: #DCFEF1;
    padding: 2rem 0;
}

/* MENU */
#menu ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    padding: 8px 12px;
    display: inline-block;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #EDEDED;
    transition: 0.2s;
}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 3px solid #EA0000;
}

/* CALCULADORA */
.calculadora,
.calculadora2 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    max-width: 300px;
    margin: 2rem auto;
    color: white;
}

/* BOTÕES DA CALCULADORA */
.btn {
    width: 22%;
    height: 50px;
    margin: 1%;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #ffffff;
    border-radius: 5px;
}

.btn:hover {
    background-color: black;
}

#resultado1 {
    background-color: white;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    font-size: 25px;
    color: black;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
}

/* SESSÕES E TÍTULOS */
section {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.75rem;
    margin: 0.625rem;
}

.instrucoes {
    max-width: 480px;
    border-radius: 3px;
    padding: 0 0.625rem 0.625rem;
}

.instrucoes p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

/* INPUT E RADIOS */
#titulo,
#dica {
    background: #111;
    color: #ececec;
    padding: 2px;
    width: 75%;
    margin: 0 auto;
}

.input {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.radio {
    margin-left: 0.75rem;
    transform: scale(1.5);
}

/* BOTÕES CONVERSOR */
#btnConverter,
#btnLimpar {
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
    color: #fff;
    outline: none;
    padding: 10px 15px;
}

#btnLimpar {
    cursor: pointer;
    margin-left: 0.625rem;
    background: #d50000;
}

#btnConverter {
    cursor: not-allowed;
}

#btnConverter:hover,
#btnLimpar:hover {
    box-shadow: 0px 0px 15px #ffc107;
}

/* AVISO */
#aviso {
    padding: 5px;
    color: #191919;
    text-align: center;
}

/* IMAGENS DE MOEDAS */
#imgMoedas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ANIMAÇÕES */
@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 25px #ffc107);
    }
    100% {
    }
}

.animar {
    animation: piscar 1s infinite alternate;
}

/* BOTÃO VOLTAR AO TOPO */
#link-topo {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #20406E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #000009;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #20406E;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 30px;
}

/* ANÚNCIOS */
#bann,
#bann2 {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #DCFEF1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.calc-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 10px;
    justify-content: center;
}

.calc-grid .zero {
    grid-column: span 2;
}

.calc-grid .equal {
    grid-row: span 2;
    height: 130px !important;
}
